<!doctype html>
<html>
<head>
	{%load staticfiles%}
	<link href="{% static 'paper/pg.css'%}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{% static 'paper/bootstrap.css'%}">
    <meta charset="utf-8">
	<title>Welcome to SES </title>
</head>

<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
    			<h3 class="textWhite">AI based Smart Examination System</h3>
			</div>
            <form action="{%url 'logout'%}">
			<div class="navbar-right">
				<button type="submit" class="btn btn-default" style="box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);">LogOut</button>
			</div></form>

		</div>
	</nav>
    <div class="container-fluid">
        <script type="text/javascript">

   				function changeFunc(select_set,hidden_field) {
					var selectBox = document.getElementById(select_set);
    				document.getElementById(hidden_field).value = selectBox.options[selectBox.selectedIndex].value;
   				}
</script>
        <h3>Test Id : {{test.test_id}}</h3>

        select question :
        <select required id="qno_sel" onclick="changeFunc('qno_sel','qno_text')">
            {% for question in test.questions %}
            <option value='{{question}}'>{{question}}</option>
            {% endfor %}
        </select>
        <br/>
        <form action="{% url 'goToQuestion' %}" method="post">{% csrf_token %}
            <input type="text" id="qno_text" name="qno" style="width:90%"/><br/>
            <button class="btn btn-default" type="submit">Go to question</button><br/><br/>

        </form>


        <form action="{% url 'saveAns' %}" method="post">{% csrf_token %}
            <textarea cols="70" rows="5" name="qno">{{qnow}}</textarea>marks:{{marks}}<br/>
            <textarea cols="70" rows="20" name="ans">{{anow}}</textarea><br/>
            <button class="btn btn-default" type="submit">save</button>
        </form>
        <form action="{% url 'submitPaper' %}" method="post">{% csrf_token %}
        <button class="btn btn-default" type="submit" onclick="alert('once submited the paper is completed and can no longer continue test');">submit paper</button>
        </form>

    </div>
</body>
</html>
